{%include 'base.html'%}
{%block body%}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
    
    *, body {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
    }
    
    html, body {
        height: 100%;
        background-color: #152733;
       
    }
    .xcontainer{
        border: 3px white solid;
        border-radius: 10px;
    }
    .nav-link{
      color: white;
  }
</style>


<div class="container xcontainer my-5 py-5">
<table class="table" style="text-align:center;">
    <thead>
      <tr>
        <th scope="col">Bill id</th>
        <th scope="col">Purchaser</th>
        <th scope="col">Amount</th>
        <th scope="col">Date-Time</th>
        <th scope="col">Breif</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete all<br><a href="/delete/all/" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {%for i in bills%}
        <td>{{i.bill_id}}</td>
        <td>{{i.purchaser}}</td>
        <td>{{i.total_amount}}</td>
        <td>{{i.bill_time}}</td>
        <td><a href="/bill/{{i.bill_id}}/show" class="btn btn-primary">Show</a></td>
        <td><a href="/editBill/{{i.bill_id}}" class="btn btn-light">Edit</a></td>
        <td><a href="/delete/{{i.bill_id}}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}