{%include 'base.html'%}
{%block body%}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
    
    *, body {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
    }
    
    html, body {
        height: 100%;
        background-color: #152733;
       
    }
    .xcontainer{
        border: 3px white solid;
        border-radius: 10px;
    }
    .nav-link{
      color: white;
  }
</style>


<div class="container xcontainer my-5 py-5">
<table class="table" style="text-align:center;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item name</th>
        <th scope="col">Item images</th>
        <th scope="col">Item code</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {%for i in prod%}
        <td scope="row">{{forloop.counter}}</td>
        <td><img src="/media/{{i.pimg}}" alt="imge" width="100vw" height="100vh"></td>
        <td>{{i.pname}}</td>
        <td>{{i.pcode}}</td>
        <td>{{i.pprice}}</td>
        <td><a href="/modify/?productcode={{i.pcode}}" class="btn btn-info">Edit</a></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}