{% include 'base.html'%}
{%block body%}
<style>
    .containerMain{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .innerContainer{
        width: 50vw;
        border: 1px solid black;
    }
    .rows{
        display: flex;
        width: 100%;    
    }
    .cols{
        width: 50%;
    }
    #row-1 {
            min-height: 20%;
    }

    /*#row-2 {
        min-height: 15%;
    }

    #row-3 {
        min-height: 35%;
    }

    #row-4 {
        min-height: 15%;
    }

    #row-5 {
        min-height: 15%;
    } */

    .logo>img{
        width: 50%;
    }


</style>


<button class="btn btn-btn btn-success" onclick="changeSize()">Generate PDF</button>
<div class="containerMain mt-5 pt-5">
    <h1 style="text-align:center;">Estimate</h1>
    <div class="innerContainer" id="innerContainer">

        <!-- row 1 -->
        <div class="rows" id="row-1">

            <div class="cols logo">
                <img src="/static/logo.png" alt="logo" class="logo">
            </div>

            <div class="cols px-5" style="text-align: right;">
                <br>
                <h5 class="maininfo"><strong>Sharma Traders</strong></h5>
                <p>Nai abadi, Abohar 152116<br>
                    India<br>
                    phone:1234567890, email:adca@gmail.com<br>
                    State : Punjab</p>
            </div>

        </div>

        <!-- row 2 -->
        <div class="rows" id="row-2"></div>

        <!-- row 3 -->
        <div class="rows" id="row-3"></div>

        <!-- row 4 -->
        <div class="rows" id="row-4"></div>

        <!-- row 5 -->
        <div class="rows" id="row-5"></div>
    </div>
</div>



<script>
    function changeSize(){
            var bodyt = document.getElementById("innerContainer");
            bodyt.style.width="1100px";
            // bodyt.style.height="2000px"

        }
</script>
{% endblock %}