{%include "base.html"%}
{%block body%}
<link rel="stylesheet" href="/static/edit_bill.css">
<div class="wrapper bg-white mt-sm-5">
    <form method="post">{%csrf_token%}
    <h4 class="pb-4 border-bottom">Bill id :{{bill.bill_id}} </h4>
        <div class="row py-2">
            <div class="col-md-6">
                <h6>Already recevied amount : </h6>
            </div>
            <div class="col-md-6">
                <h6>Rs. {{allReadyReceived}}</h6>
            </div>
        <div class="row py-2">
            <div class="col-md-6">
                <label for="email">Money recived</label>
                <input type="text" class="bg-light form-control" placeholder="0" name="recived">
            </div>
        </div>
        <div class="py-3 pb-4 border-bottom">
            <button class="btn btn-primary mr-3" type="submit">Save Changes</button>
            <button class="btn border button" type="reset">Cancel</button>
        </div>
    </div>
</form>
</div>


{%endblock%}